body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 99vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	position: relative;
	width: 300px;
	height: 300px;
	margin-top: 15px;
	background: rgba(232, 9, 9,0.1);
	transform: rotate(-30deg) skew(25deg) scale(.8);
	transition: 0.5s;
}

.container .cor{
	background: rgb(232, 9, 9);
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

.container:hover .cor:nth-child(4){
	transform: translate(160px, -160px);
	opacity: 1;
}
.container:hover .cor:nth-child(3){
	transform: translate(120px, -120px);
	opacity: 0.8;
}
.container:hover .cor:nth-child(2){
	transform: translate(80px, -80px);
	opacity: 0.6;
}
.container:hover .cor:nth-child(1){
	transform: translate(40px, -40px);
	opacity: 0.4;
}